{% extends 'base_list.html' %}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block head_child %}
<script>
    // tinyMCE.init({
    //         'mode':'textareas',
    //         'theme':'modern',
    //     });
</script>
{% endblock head_child %}


{% block main %}
<article class="post post-{{post.pk}}"  style="color: #444;background-color: white;padding: 20px;">
    <header class="entry-header">
        <h2 class="text-center" style="margin: 10px 0px;">{{post.title}}</h2>
        <div class="entry-meta" style="color: #00a67c;text-align: center; padding: 5px 0px;">
            <!--<span>{{post.category.name}}</span>-->
            <span style="padding: 0px 8px;">
                <time class="entry-date" datetime="{{post.created_time}}">
                    <i class="fa fa-clock-o" style="padding-right: 2px;"></i>{{post.created_time | timesince}} 前
                </time>
            </span>
            <span style="padding: 0px 8px;" style="padding-right: 2px;">
                <i class="fa fa-user" style="padding-right: 2px;"></i>{{post.author}}
            </span>
            <span style="padding: 0px 8px;">
                <i class="fa fa-comment" style="padding-right: 2px;"></i>{{ post.comment_set.count }} 评论
            </span>
            <span style="padding: 0px 8px;">
                <i class="fa fa-eye" style="padding-right: 2px;"></i>{{post.views}} 阅读
            </span>
        </div>
    </header>
    <div class="entry-content clearfix">
        {{post.body|safe}}
    </div>
</article>
<div class="form-group">
    <hr>
    <h4>发表评论</h4>
    <form action="{% url 'comments:post_comment' post.pk %}?#comment_list" method="post" class="comment-form">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-12">
          <label for="{{ form.text.id_for_label }}">评论：</label>
          {% bootstrap_field form.text show_label=False size="sm"  placeholder='请输入联系内容' %}
          {{ form.text.errors }}
          {% buttons submit='发表' reset="取消" %}{% endbuttons %}
        </div>
      </div>    <!-- row -->
    </form>
    <div class="comment-list-panel" id="comment_list">
        <h4>评论列表，共 <span>{{ post.comment_set.count }}</span> 条评论</h4>
        <div>
            <ul class="comment_list list-unstyled">
                {% for comment in comment_list %}
                <hr>
                <li class="comment-item clearfix" id="comment-{{ comment.id }}">
                    <div class="panel panel-default ">
                        <div class="panel-body comment_body">
                            <span class="nickname" style="color: #00a67c;">{{ comment.user.username }}</span>
                            <time class="submit-date">{{ comment.created_time }}</time>
                            <div class="text comment_text">
                                <div class="comment" style="display: block;">
                                    <span style="padding: 5px 10px;">{{ comment.text|safe }}</span>
                                    <span class="reply_comment">回复</span>
                                    {% if user.is_staff %}
                                    <span class="reply_comment_del" data-csrf="{{ csrf_token }}" data-comment-id="{{ comment.id }}">删除</span>
                                    {% endif %}
                                </div>
                                <div class="reply_form col-lg-10" style="display: none;">
                                    <form role="form" method="post" action="{% url 'comments:post_reply' post.pk %}?#comment-{{ comment.id }}">
                                        {% csrf_token %}
                                        <input type="hidden" name="reply_type" value="0">
                                        <input type="hidden" name="comment" value="{{comment.id}}">
                                        <input type="hidden" name="comment_reply" value="">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="2" name="text"  placeholder="回复{{comment.user.username}}："></textarea>
                                        </div>
                                        {% for field in reply_form %}
                                            {{ field.errors }}
                                        {% endfor %}
                                        <div class="form-group">
                                            <div class="btn-group pull-right">
                                                <button type="button" class="btn btn-default reply_form_close">关闭</button>
                                                <button type="submit" class="btn btn-success">发表</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div  class="reply_list" style="padding-left: 10px;">
                                <ul class="list-unstyled">
                                {% for reply in comment.reply_set.all %}
                                    <li class="reply_li">
                                        <div class="reply">
                                            <div class="clearfix col-lg-12" style="padding: 5px 5px;display: block;">
                                                <span style="color: #00a67c;">{{reply.user.username}}</span>
                                                <span class="fa fa-mail-forward"></span>

                                                {% if reply.comment_reply %}
                                                <span style="color: #00a67c;">{{reply.comment_reply.user.username}}</span>
                                                {% else %}
                                                <span style="color: #00a67c;">{{comment.user.username}}</span>
                                                {% endif %}

                                                <span> : {{reply.text}}</span>
                                                <span class="reply_r">回复</span>
                                                {% if user.is_staff %}
                                                <span class="reply_r_del" data-csrf="{{ csrf_token }}" data-reply-id="{{ reply.id }}" style="color: #7ebfff;display: none;cursor: pointer;padding: 0px 5px;">删除</span>
                                                {% endif %}
                                            </div>
                                            <div class="r_r_form col-lg-10 clearfix" style="display: none;">
                                                <form role="form" method="post" action="{%url 'comments:post_reply' post.pk %}?#comment-{{ comment.id }}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="reply_type" value="1">
                                                    <input type="hidden" name="comment" value="{{comment.id}}">
                                                    <input type="hidden" name="comment_reply" value="{{reply.id}}">
                                                    <div class="form-group">
                                                        <textarea class="form-control" rows="2" name="text"  placeholder="回复{{comment.user.username}}："></textarea>
                                                    </div>
                                                    {% for field in reply_form %}
                                                        {{ field.errors }}
                                                    {% endfor %}
                                                    <div class="form-group clearfix">
                                                        <div class="btn-group pull-right">
                                                            <button type="button" class="btn btn-default r_r_form_close">关闭</button>
                                                            <button type="submit" class="btn btn-success">发表</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                {% empty %}
                暂无评论
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock main %}

{% block toc %}
    <li class="list-group-item">
        <div class="widget widget-content">
            <h4 class="widget-title">文章目录</h4>
            {% if post.toc %}
                {{ post.toc|safe }}
            {% else %}
                <span>此文章未设目录</span>
            {% endif %}
        </div>
    </li>
{% endblock toc %}

