{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ htitle }}</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <script>
    $(function () {
        {% if nav == 1 %}
            $(".Python").addClass("active");
        {% elif nav == 2%}
            $(".Linux").addClass("active");
        {% elif nav == 3 %}
            $(".other").addClass("active");
        {% elif nav == 4 %}
            $(".essay").addClass("active");
        {% elif nav == 5 %}
            $(".message").addClass("active");
        {% endif %}
    });
    </script>
</head>

<body style="background-color: #eee">
<!--header-->
<div id="head">
    <div class="float-right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          登入
        </button>

        <!-- 模态框 -->
        <div class="modal fade" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- 模态框头部 -->
              <div class="modal-header">
                <h4 class="modal-title">选择登入方式</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- 模态框主体 -->
              <div class="modal-body">
                <i class="fa fa-github fa-5x" aria-hidden="true"></i>
              </div>

              <!-- 模态框底部 -->
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
              </div>

            </div>
          </div>
        </div>
    </div>
</div>
<!--导航栏-->
<div class="clearfix">
    <nav class="navbar navbar-expand-xl bg-dark navbar-dark" role="navigation">
        <div class="container">
        <!--导航栏首页-->
        <a class="navbar-brand" href="{% url 'blog:index' %}">首页</a>
        <!--栏目-->
        <div class="collapse navbar-collapse" id="collapsibleNavbar" style="font-size: 16px;">
            <!--搜素栏目-->
            <ul class="nav navbar-nav bar">
                <li class="nav-item Python"> <a class="nav-link" href="{% url 'blog:python_list' %}">Python</a></li>
                <li class="nav-item Linux"> <a class="nav-link" href="{% url 'blog:linux_list' %}">Linux</a></li>
                <li class="nav-item other"> <a class="nav-link" href="{% url 'blog:other_list' %}">其他技术文章</a></li>
                <li class="nav-item essay"> <a class="nav-link" href="{% url 'blog:essay_list' %}">随笔</a></li>
                <li class="nav-item message"> <a class="nav-link" href="{% url 'blog:message' %}">与我联系</a></li>
            </ul>
        </div>
        <div>
            <form class="form-inline" role="search">
                <input type="text" class="form-control" />
                <button class="btn btn-success" type="button">搜索</button>
            </form>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        </div>
    </nav>
</div>

<div class="container">
    <div class="row">
        <main class="col-md-9">
            {% block main %}
            {% endblock main %}
        </main>
        <aside class="col-md-3">
            <ul class="list-group">
                {% block toc %}
                {% endblock toc %}
                <li class="list-group-item" style="margin: 10px 0px;">
                    <div class="widget widget-recent-posts">
                        <h4 class="widget-title">最新文章</h4>
                        {% get_recent_posts as recent_post_list %}
                        <ul>
                            {% for post in recent_post_list %}
                            <li>
                                <a href="{{post.get_absolute_url}}">{{post.title}}</a>
                            </li>
                            {% empty %}
                            暂无文章！
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="widget widget-archives">
                        <h4 class="widget-title">归档</h4>
                        {% archives as date_list %}
                        <ul>
                            {% for date in date_list %}
                            <li>
                                <a href="{% url 'blog:archives' date.year date.month %}">{{date.year}} 年 {{date.month}} 月</a>
                            </li>
                            {% empty %}
                            暂无归档！
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="widget widget-category">
                        <h4 class="widget-title">分类</h4>
                        {% get_categories as category_list %}
                        <ul>
                            {% for category in category_list %}
                            <li>
                                <a href="{% url 'blog:category' category.pk %}">'{{category.name}}
                                    <span class="post-count">({{ category.num_posts }})</span>
                                </a>
                            </li>
                            {% empty %}
                            暂无分类
                            {% endfor %}
                    </ul>
                </div>
                </li>
                <li class="list-group-item">
                    <div class="widget widget-tag-cloud">
                        <h4 class="widget-title">标签云</h4>
                        {% get_tags as tag_list %}
                          <ul>
                            {% for tag in tag_list %}
                            <li>
                              <a href="{% url 'blog:tag' tag.pk %}">{{ tag.name }}</a>
                            </li>
                            {% empty %}
                            暂无标签！
                            {% endfor %}
                          </ul>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="rss">
                        <a href="{% url 'rss' %}"><span class="ion-social-rss-outline"></span> RSS 订阅</a>
                    </div>
                </li>


            </ul>
        </aside>
    </div>
</div>


</body>
</html>
